
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
            defer ></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Authors</a></li>
                <li><a href="#">Status</a></li>
                <li><a href="/add">Admin</a></li>
                {% if user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="#">{{ user.username }}</a></li>
                {% else %}
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>

                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
{% block content %}

            <section class="banner">
                <h2>Welcome to The Book Nook!</h2>
                <p>Find your next literary adventure here.</p>
                <form action="/search" method="get">
    <input type="text" name="q" placeholder="Search books..." id="searchBar">
    <input type="submit" value="Search">
</form>
            </section>
            <section class="featured-books">
                <h2>Featured Books</h2>
                <div class="book-grid">
                        {% for book in books %}
                    <div class="book-item">
                        <img src="{{ book.poster.url }}" alt="Book Cover 1">
                        <h3>{{ book.name }}</h3>
                        <p>{{ book.author}}</p>
                        <p>{{ book.genre}}</p>
                    </div>
                        {% endfor %}


                </div>
            </section>
{#            <section class="categories">#}
{#                <h2>Browse by Category</h2>#}
{#                <ul>#}
{#                    <li><a href="#">Fiction</a></li>#}
{#                    <li><a href="#">Non-Fiction</a></li>#}
{#                    <li><a href="#">Mystery</a></li>#}
{#                    <li><a href="#">Romance</a></li>#}
{#                    <li><a href="#">Science Fiction</a></li>#}
{#                </ul>#}
{#            </section>#}
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>© 2024 My Bookstore</p>
    </footer>
</body>
</html>