<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
            defer></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'add_book.css' %}">
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
<header>
    <form method="get"> {% csrf_token %}
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <a  href="/home?value=All"><li>All</li></a>
                        <a href="/home?value=Fiction"><li>Fiction</li></a>
                        <a href="/home?value=Non-Fiction"><li>Non-Fiction</li></a>
                        <a href="/home?value=Mystery"><li>Mystery</li></a>
                        <a href="/home?value=Romance"><li>Romance</li></a>
                        <a href="/home?value=Science Fiction"><li>Science Fiction</li></a>
                        <a href="/home?value=Historical Fiction"><li>Historical Fiction</li></a>
                        <a href="/home?value=Childrens Literature"><li>Childrens Literature</li></a>
                    </ul>
                </li>
                <li><a href="/status">Status</a></li>
                {% if user.is_staff or perms.manage_books.add_books %}
                    <li><a href="/add">Add</a></li>{% endif %}
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="/promote">Promote</a></li>
                        <li><a href="/admins_edit">Admins</a></li>{% endif %}
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="#">{{ user.username }}</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Register</a></li>

                {% endif %}
            </ul>
        </nav>
    </form>
</header>

<main>
    <div class="container">
        {% block content %}

            <section class="banner">
                <h2>Welcome to The Book Nook!</h2>
                <p>Find your next literary adventure here.</p>
                <form action="{% url "search" %}" method="get">
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Search books..." id="searchBar">
                    <button type="submit" class="searach-btn"> Search</button>
                </form>
            </section>
            <section class="featured-books">
                <h2>Featured Books</h2>
                <div class="book-grid">
                    {% for book in books %}
                        <div class="book-item"> <form method="get"  action="{%   url "description-each" book.id  %}"> <button name="id" value="{{ book.id }}">  <a style="text-decoration: none; color: #333333" href="/description">
                            <img src="{{ book.poster.url }}" alt="Book Cover 1">
                            <h3>{{ book.name }}</h3>
                            <p>{{ book.author }}</p>
                            <p>{{ book.genre }}</p>
                            {% if book.rating == 5 %}
                                    {% for i in "12345" %}
                                        <span class="fa fa-star checked"></span>
                                    {% endfor %}
                            {% elif book.rating >= 4 %}
                                    {% for i in "1234" %}
                                        <span class="fa fa-star checked"></span>
                                    {% endfor %}
                                    <span class="fa fa-star"></span>
                            {% elif book.rating >= 3 %}
                                    {% for i in "123" %}
                                        <span class="fa fa-star checked"></span>
                                    {% endfor %}
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                            {% elif book.rating >= 2 %} 
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    {% for i in "123" %}
                                        <span class="fa fa-star"></span>
                                    {% endfor %}

                            {% elif book.rating >= 1 %} 
                                    <span class="fa fa-star checked"></span>
                                    {% for i in "1234" %}
                                        <span class="fa fa-star"></span>
                                    {% endfor %}
                            {% else %}
                                    {% for i in "12345" %}
                                        <span class="fa fa-star"></span>
                                    {% endfor %}
                            {% endif %}
                        
                        </a> </button></form>
                            <form method="post" style="display: flex; justify-content: space-around "> {% csrf_token %}
                                    <button style="margin: 0 5px 10px 5px; color: #45A049" type="submit" name="id"
                                            value="{{ book.id }}"><a style="text-decoration: none; color: #45A049"
                                                                     id="id"
                                                                     href="{% url 'update_books' book.id %}">Update</a>
                                    </button>

                                        <button style="color: orangered; margin: 0 5px 10px 5px" type="submit"
                                                name="delete" value="{{ book.id }}">Delete
                                        </button>
                                    </form>
                        </div>

                    {% endfor %}


                </div>
            </section>
            {#            <section class="categories">#}
            {#                <h2>Browse by Category</h2>#}
            {#                <ul>#}
            {#                    <li><a href="#">Fiction</a></li>#}
            {#                    <li><a href="#">Non-Fiction</a></li>#}
            {#                    <li><a href="#">Mystery</a></li>#}
            {#                    <li><a href="#">Romance</a></li>#}
            {#                    <li><a href="#">Science Fiction</a></li>#}
            {#                </ul>#}
            {#            </section>#}
<footer>
    <p>© 2024 My Bookstore</p>
</footer>
        {% endblock %}
    </div>
</main>

</body>
</html>